{{#extend layout title="order-history" active="special-order-history" path="../../" isBreadCrumb="true" }}
{{#content "content"}}
    <div class="row">
        <div class="col">
            <div class="card bg-transparent">
                <div class="card-header d-flex align-items-center justify-content-between p-0 m-0 border-bottom-0">
                    <div class="header-title">
                        <h4 class="card-title">Order History</h4>
                    </div>
                </div>
                <div class="card-body px-0">
                    <div class="iq-col-masonry m-0">
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #345
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded iq-col-masonry-block">
                            <svg class="me-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6654 5.33496L5.33203 10.6683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.6643 10.6663L5.33203 5.33301" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #305
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded iq-col-masonry-block">
                            <svg class="me-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6654 5.33496L5.33203 10.6683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.6643 10.6663L5.33203 5.33301" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded iq-col-masonry-block">
                            <svg class="me-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6654 5.33496L5.33203 10.6683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.6643 10.6663L5.33203 5.33301" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #295
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #295
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #295
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325
                        </button>
                        <button type="button" class="btn btn-outline-success rounded iq-col-masonry-block">
                            <svg class="me-1" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.667969 4.09434L3.93567 7.33366L10.668 0.666992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            #325  
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4">
        <div class="col">
            {{> partials/components/order-history id="01" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/01.png" orderImage1="order-history/09.png" orderTitle1="Vegetable Mixups" orderText1="Vegetable Fritters with Egg" orderTitle2="$05.30" orderTitle3="Qty : 1" orderImage2="order-history/10.png" orderTitle4="Burger" orderText2="Vegetable Fritters with Egg" orderTitle5="05.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$20.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="02" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/02.png" orderImage1="order-history/11.png" orderTitle1="Pasta" orderText1="Vegetable Fritters with Egg" orderTitle2="$15.30" orderTitle3="Qty : 1" orderImage2="order-history/11.png" orderTitle4="Mexican Burger" orderText2="Vegetable Fritters with Egg" orderTitle5="$45.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$50.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="03" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/03.png" orderImage1="order-history/09.png" orderTitle1="Vegetable Mixups" orderText1="Vegetable Fritters with Egg" orderTitle2="$05.70" orderTitle3="Qty : 1" orderImage2="order-history/10.png" orderTitle4="Mexican Burger" orderText2="Vegetable Fritters with Egg" orderTitle5="$75.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$60.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="04" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/04.png" orderImage1="order-history/12.png" orderTitle1="Noodles" orderText1="Vegetable Fritters with Egg" orderTitle2="$75.30" orderTitle3="Qty : 1" orderImage2="order-history/13.png" orderTitle4="Pizza" orderText2="Vegetable Fritters with Egg" orderTitle5="$55.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$40.60"}}
        </div>
         <div class="col">
            {{> partials/components/order-history id="05" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/05.png" orderImage1="order-history/15.png" orderTitle1="Veg Crispy" orderText1="Vegetable Fritters with Egg" orderTitle2="$45.30" orderTitle3="Qty : 1" orderImage2="order-history/16.png" orderTitle4="Salad" orderText2="Vegetable Fritters with Egg" orderTitle5="$15.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$20.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="06" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/06.png" orderImage1="order-history/17.png" orderTitle1="Mix Veggie Pizza" orderText1="Vegetable Fritters with Egg" orderTitle2="$55.30" orderTitle3="Qty : 1" orderImage2="order-history/18.png" orderTitle4="Veg Soup" orderText2="Vegetable Fritters with Egg" orderTitle5="$55.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$10.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="07" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/07.png" orderImage1="order-history/19.png" orderTitle1="Chilly Garlic" orderText1="Vegetable Fritters with Egg" orderTitle2="$45.30" orderTitle3="Qty : 1" orderImage2="order-history/20.png" orderTitle4="Paneer Pizza" orderText2="Vegetable Fritters with Egg" orderTitle5="$55.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$10.60"}}
        </div>
        <div class="col">
            {{> partials/components/order-history id="08" orderId="Order #309" dateTime="23 Feb 2021, 08:28 PM" orderUser="order-history/08.png" orderImage1="order-history/21.png" orderTitle1="Spring Roll" orderText1="Vegetable Fritters with Egg" orderTitle2="$05.30" orderTitle3="Qty : 1" orderImage2="order-history/22.png" orderTitle4="Nachos" orderText2="Vegetable Fritters with Egg" orderTitle5="$05.30" orderTitle6="Qty : 1" orderText3="X2 items" orderTitle7="$10.60"}}
        </div>
    </div>
    <div class="row mb-4 text-center">
        <div class="col-12">
            <a href="#" class="btn btn-primary rounded">Load More</a>
        </div>
    </div>
{{/content}}
{{/extend}}